
<style>
#ah-cart-redirect {
    {% if cart.empty? %}
        display: none !important;
    {%  endif %}
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
</style> 

<div id="ah-cart-redirect">
    <img class="financing--logo" src="{{'Consors_Finanz_Logo.png' | asset_url}}" alt="Consors Finanz Logo" width="200" height="45" />
    <a class="button full-width" href="https://{{ shop.permanent_domain }}/pages/consors-efi">👉 Jetzt Finanzieren</a>
</div>

{% schema %}
{
  "name": "Cart Consors-EFI",
  "target": "section"
}
{% endschema %}